{{- define "head" }}
<link crossorigin="anonymous" rel="preload" as="fetch" href="../index.json">
{{- $fastsearch := resources.Get "js/fastsearch.js" }}
{{- if not site.Params.assets.disableFingerprinting }}
{{- $search := (slice $fastsearch ) | resources.Concat "assets/js/search.js" | fingerprint }}
<script defer crossorigin="anonymous" src="{{ $search.RelPermalink }}" integrity="{{ $search.Data.Integrity }}"></script>
{{- else }}
{{- $search := (slice $fastsearch ) | resources.Concat "assets/js/search.js" }}
<script defer crossorigin="anonymous" src="{{ $search.RelPermalink }}"></script>
{{- end }}

<meta name="turbo-visit-control" content="reload">
{{- end }}


{{- define "main" }}

<header class="page-header">
    <h1>{{- (printf "%s&nbsp;" .Title ) | htmlUnescape -}}</h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
        {{- partial "translation_list.html" . -}}
    </div>
    {{- end }}
</header>

<label for="searchInput" class="mb-2 text-sm font-medium sr-only text-text-primary-light dark:text-text-primary-dark">Search</label>
<div class="relative" id="searchbox">
    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        <svg class="w-4 h-4 text-text-secondary-light dark:text-text-secondary-dark" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
    </div>
    <input type="search" id="searchInput" class="block w-full p-4 ps-10 text-sm text-text-primary-light border border-border-01-light rounded-xl bg-background-1-light focus:ring-accent-primary-light focus:border-accent-primary-light dark:bg-background-1-dark dark:border-border-01-dark dark:placeholder-slate-400 dark:text-text-primary-dark dark:focus:ring-accent-primary-dark dark:focus:border-accent-primary-dark shadow-sm" autofocus placeholder="{{ .Params.placeholder | default (printf "%s ↵" .Title) }}"/>
    <button type="button" id="searchButton" class="text-white absolute end-2.5 bottom-2.5 bg-accent-primary-light hover:bg-accent-secondary-light focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-accent-primary-dark dark:hover:bg-accent-secondary-dark dark:focus:ring-blue-800 transition-colors">Search</button>
</div>

<div hidden class="w-full mt-4 text-text-primary-light bg-background-1-light border border-border-01-light rounded-xl dark:bg-background-1-dark dark:border-border-01-dark dark:text-text-primary-dark shadow-md" id="searchResults" aria-label="search results"></div>

{{- end }}{{/* end main */}}
